selenium==4.27.1
openai==1.58.1
openpyxl==3.1.5
pymongo==4.10.1
typing-inspect==0.9.0
typing_extensions==4.12.2
dataclasses-json==0.6.7
jsonpatch==1.33
jsonpointer==3.0.0
orjson==3.10.13
requests==2.32.3
requests-toolbelt==1.0.0
pdfminer.six==20231228
pdfplumber==0.11.4
webdriver-manager==4.0.2
websocket-client==1.8.0
scikit-learn==1.6.0
beautifulsoup4==4.12.3
langchain==0.3.13
langchain-community==0.3.13
langchain-core==0.3.28
langchain-text-splitters==0.3.4
langchain-ollama
pytz==2024.1
pydantic==2.10.4
pydantic-settings==2.7.0
pydantic_core==2.27.2
sentence-transformers==3.2.1

feedparser==6.0.11
pandas==2.2.3
python-dateutil==2.9.0.post0
SQLAlchemy==2.0.37
webdriver_manager==4.0.2

python-telegram-bot==21.9
mariadb==1.0.11
pycryptodome==3.19.0
tiktoken
trafilatura